<div class="container">
  <h1>My Patterns</h1>
  <ul>
    <% @patterns.each do |pattern| %>
      <li>
        <h2><%= pattern.title %></h2>
        <p><%= pattern.source %></p>
      </li>
    <% end %>
</div>